@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Search on Google</h1>
    <p class="lead">We will search on google for you so you are not tracked.</p>

    <input type="search" /><button>Search</button>

    <div class="hmm" style="display: none;background-color: darkblue; padding: 5px; margin: 5px 0; color:white">Searched for: <span class="searched-for"></span></div>
    <div class="results" style="word-wrap: break-word">
    </div>
    <script>
        var search = function (query) {

            var stateObj = { foo: "bar" };
            history.pushState(stateObj, "page 2", "?query=" + query);

            var result = fetch('/Home/Search?query=' + query);
            result.then(function(response) {
                if (response.ok) {
                    console.log('response', response);
                    console.log('header', response.headers.get('Content-Type'));
                    return response.json();
                }
            }).then(function (result) {
                document.querySelector('.hmm').style.display = 'block';
                document.querySelector('.searched-for').innerHTML = result.Query;
                var results = document.querySelector('.results');
                results.innerHTML = '';
                for (var i = 0; i < result.Items.length; i++) {
                    var element = document.createElement('div');

                    var header = document.createElement('strong');
                    header.innerHTML = result.Items[i].Header;
                    element.insertAdjacentElement('beforeend', header);

                    var ingress = document.createElement('p');
                    ingress.innerHTML = result.Items[i].Url;
                    element.insertAdjacentElement('beforeend', ingress);

                    results.insertAdjacentElement('beforeend', element);
                }
            }).catch(function(ex) {
                console.log('failed', ex);
            });
        }

        var input = document.querySelector('input[type=search]');
        input.addEventListener('change',
            function(e) {
                search(input.value);
            });

        var query = window.location.search.replace('?query=', '');
        input.value = query;
        if (input.value.length > 0) {
            search(input.value);
        }
    </script>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>